################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/Titanic/FileContentIndex/235acc6c-91d8-4385-95de-60e4e7464004.vsidx
/.gitignore
